
* {
  box-sizing: border-box;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.sign-form {*/
/*  width: 100%;*/
/*}*/

/*全体へ適用*/
.body {
  font-family: 'Cutive Mono', monospace;
  text-decoration: none;
}

/*マーク*/
.caution {
  margin-left: 380px;
}

.face {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
}

/*フォントセレクター*/
.ja-font {
  font-family: "Sawarabi Mincho";
}

.en-font-title {
  font-family: 'Ibarra Real Nova' ,'Cinzel', 'Oswald', serif;
}

/*カラーパレット*/
.light-blue-bg {
 background-color: #099f9a;
 opacity: 0.8;
}

.yellow-font {
  font-family: 'Ibarra Real Nova' ,'Cinzel', 'Oswald', serif;
  color: #d6d068;
}

.bg-navy {
  background-color: #2d4750;
}

.white-font {
  color: white;
}

.favorited-color {
  color: red;
}

.experienced-color {
  color: #ffc107;
}

/*flash message*/
.message_space {
  position: fixed;
  z-index: 30;
  margin: 15px 0 0 45px;
}

/*btn*/
.btn-width {
  width: 100%;
}

.btn-half-width {
  width: 50%;
}

.edit-delete-btn {
  margin-top: 40px;
}

.message-size {
  font-size: 40px;
}



/*admin_header*/
header {
  line-height: 30px;
  background-color: #124462;
}

.header-title {
  font-family: 'Cinzel', serif;
  font-size: 30px;
  margin: 0 180px 0 auto;
  color: #d6d068;
}

.header-item {
  font-family: 'Cinzel', serif;
  font-size: 25px;
}

.header-end {
  font-family: 'Cinzel', serif;
  color: #d6d068;
}

.logout-title {
  margin-right: 130px;
}

/*sign-xx*/
.sign-xx {
  padding: 220px 200px 0 200px;
  height: 100vh;
}

.reverse-side {
  background-color: #124462;
}


.logout-font{
  margin: 180px 0 0 50px;
  font-family: 'Cinzel', 'Oswald', serif;
  font-size: 80px;
  color: #d6d068;
  display: inline-block;
}

/*public/signin*/
.logout_reports_btn {
  width: 400px;
  margin: 180px 0 0px 160px;
}

.logout_sign_up_btn {
  width: 400px;
  margin: 0 0 0 160px;
}

/*public||admin/top*/
.top-map {
  width: 100%;
  height: 500px;
}

.top_title {
  font-family: 'Ibarra Real Nova' ,'Cinzel', 'Oswald', serif;
  color: #d6d068;
  margin: 90px 0 30px 80px;
}

.top_information {
  font-family: 'Ibarra Real Nova' ,'Cinzel', 'Oswald', serif;
  color: #d6d068;
  margin: 20px 0 10px 140px;
}

.top-create-btn {
  margin: 320px 0 0 0;
  width: 250px;
}

.top-bg{
  height: 140vh;
  padding: 15px;
}

.public_top_map {
  width: 50%;
}

/*public/location_reports/index*/
.index-bg {
  background-color: #099f9a;
  height: 100%;
  padding-bottom: 100px;
  opacity: 0.8;
}

.search-form {
  margin: 30px 100px;
  width: 40%;
}

.index-select-area {
  width: 40%;
  margin-left: 100px;
}

.index-locations {
  color: white;
  text-decoration: none;
}

.table-color {
  color: white;
}

/*admin/location_reports/show*/
.location-show {
  height: 100vh;
}

.show-body {
  color: #d6d068;
  font-family: 'Ibarra Real Nova' ,'Cinzel', 'Oswald', serif;
  margin-left: 80px;
  height: 100px;
}

.report-secound {
  margin-left: 80px;
  font-size: 20px;
}

.status-setting {
  margin-left: 80px;
}

.address-title {
  margin-top: 85px;
}

/*public/location/show*/
.location-show-btn {
  width: 100px;
}

.public-location-show {
  height: 100%;
}

.show-btns {
  margin-left: 80px;
}

.btn-edit {
  width: 130px;
}

.comment-form {
  width: 90%;
}

.comment-btn {
  width: 100%;
}

.guest-reject-btn {
  width: 90%;
}

.comment-paginate {
  margin-left: 100px;
}

.show-map {
  height: 500px;
  width: 100%;
}

/*public/users/show*/
.top-paginate {
  margin-top: 100px;
}

.card {
  width: 350px;
  height: 350px;
}

.card-group {
  margin: 50px 50px 0px 50px;
}

/*public/location/new*/
.location-new-title {
  margin: 40px 30px 0 100px;
}

.location-new-small {
  font-size: 30px;
}

.location-new-caution {
  font-size: 14px;
}

.location-new-btn {
  width: 100%;
}

.location-new-height {
  height: 900px;
}

/*public/location/edit*/
.location-edit-height {
  height: 900px;
}

/*public/user/show*/
.user-show-height {
  height: 120vh;
  padding-bottom: 30px;
}

.user-show-image{
  height: 100px;
  width: 100px;
  margin: 50px 0 0 100px;
}

.user-show-title {
  margin: 80px 0 0 0;
}

.favorites-report-btn {
  margin-top: 70px;
}

.follower-btn {
  margin-top: 115px;
}

.show-btn-combo {
  margin-top: 80px;
}

.user-show-btns{
  width: 100%;
}


.no-contents {
  margin: 50px auto;
}

.card-show-title {
  width: 100%;
}

.show-intro {
  width: 100%;
  margin-left: 50px;
  margin: 0 20px 40px 50px ;
}

.favorite-experience {
  margin-left: 80px;
}

 /*user/index*/
 .user-index-bg {
  height: 900px;
  padding-bottom: 100px;
}

/*user/edit*/
.edit-user-height {
  height: 100vh;
}

.caution-edit {
  margin: 100px;
}

/*favorites*/
.favorites-height {
  height: 100vh;
}

/*admin/user/index*/
.admin-user-index {
  height: 100vh;
}

/*admin-user-show*/
.admin-user-show {
  height: 90vh;
}

.comment-height {
  height: 30px;
}

.follow-height {
  height: 100vh;
  padding-bottom: 100px;
}

.follow-btn {
  width: 200px;
}

.status-check-height {
  height: 100vh;
}