<% if current_admin.id =! 1 %>
  <%= render "layouts/caution"%>
<% else %>
<div class="bg-navy user-index-bg">
    <div class="container">
        <!--<div class="row">-->
        <!--    <div class="col-8">-->
        <!--        <%#= form_with url: admin_user_search_path, method: :get, local: true do |f| %>-->
        <!--            <%#= f.text_field :keyword, placeholder: '会員に関してはこちらから', class: "form_control search-form" %>-->
        <!--            <%#= f.submit "検索", class: "btn btn-outline-light"%>-->
        <!--        <%# end %>-->
        <!--    </div>-->
        <!--</div>-->

        <%# if @results.present? %>
            <%#= render "layouts/admin_user_search", objects: @results %>
        <%# else %>
            <%= render "layouts/admin_user_search", objects: @users%>
        <%# end %>
    </div>
</div>
<% end %>
