<% if current_user.id == 1%>
  <%= render "layouts/caution" %>
<% else%>
  <div class='favorites-height bg-navy'>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="mt-5 yellow-font ">
            Your favorited Reports
          </h1>
          <%= render "layouts/location_search", objects: @favorite_reports %>
        </div>
      </div>
    </div>

  </div>
<% end %>