<!--フォロー：ユーザがフォローしている人-->
<table class="table">
  <thead>
    <tr>
      <th>アカウントネーム</th>
      <th>フォローボタン</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= link_to user.account_name, public_user_path(user)%></td>
        <td>
          <% if current_user == user %>
          <!--空白：自分のことをフォロさせないために-->
          <% elsif user.is_followed_by?(current_user) %>
            <%= link_to public_user_relationships_path(user), method: :delete do %>
              <button class="btn btn-danger">フォロー解除する</button>
            <% end %>
          <% else  %>
            <%= link_to public_user_relationships_path(user), method: :post do %>
              <button class="btn btn-primary">フォロー</button>
            <% end %>
          <% end %>
      </td>
      </tr>
    </tbody>
  <% end %>
</table>