<header class="p-3 text-white">
    <div class="container">
      <div class= "d-flex flex-wrap align-items-center flex-row">
        <%= link_to "CHIKAGE", admin_top_path, class: "header-title" %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to 'reports', admin_location_reports_path, class: "header-item nav-link px-2 text-white" %></li>
          <li><%= link_to 'users', admin_users_path, class: "header-item nav-link px-2 text-white "%></li>
        </ul>

        <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: "btn btn-outline-warning header-end" %>
      </div>
    </div>
  </header>
