<header class="p-3 text-white">
    <div class="container">
      <div class= "d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to "chikage", public_top_path, class: "header-title logout-title" %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to 'reports', public_location_reports_path, class: "header-item nav-link px-2 text-white mr-3 ml-3" %></li>

        </ul>

        <%= link_to 'Sign_in', new_user_session_path, class: "mr-3 btn btn-outline-warning header-end"%>
        <%= link_to 'Sign_up',  new_user_registration_path, class: "btn btn-outline-warning header-item" %>
      </div>
    </div>
  </header>